[flake8]
max-line-length = 200

ignore =
    W291,  # trailing whitespace
    W292,  # no newline at end of file
    E203,  # whitespace before ':'
    E231,  # missing whitespace after ','
    E302,  # expected 2 blank lines
    F541   # f-string missing placeholders


exclude =
    __pycache__,
    .git,
    data