[flake8]
max-line-length = 200

ignore =
    W291,
    W292,
    E203,
    E231,
    E241,
    E252,
    E302,
    E123,
    E202,
    E211,
    E221,
    E303,
    E701,
    F541,
    F841

exclude =
    __pycache__,
    .git,
    data